.productContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productContainer img {
  width: 20rem;
  height: 20rem;
  margin-bottom: 1rem;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  
  margin-top: 2rem;
}

.buttonContainer button {
  width: 2rem;
  height: 1.4rem;
  color: var(--white);
  background-color: var(--gray-900);

  border-radius: 6px;

  border: none;
}

.buttonContainer input {
  width: 5rem;
  margin: 0 1rem;
}