.registerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: -10rem;
  height: 100vh;
}

.registerContainer h2{
  margin-bottom: 3rem;
}

.registerContainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  padding: 6rem;
  width: 35rem;

  border-radius: 10px;
  box-shadow:  4px 4px 4px 4px rgba(0, 0, 0, 0.25);
  
}

.registerContainer form label {
  margin-bottom: 0.5rem;
}

.registerContainer input {
  height: 2rem;
  width: 24rem;
  padding-left: 10px;
  margin-top: 0.5rem;

  outline: none;
}

.registerContainer button {
  border: none;
  border-radius: 2px;

  height: 2rem;
  width: 24rem;
  margin-top: 1rem;

  background-color: var(--gray-900);
  color: var(--white);

  cursor: pointer;
}

.registerContainer form > h4 {
  color: var(--red);
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;

  margin-top: 1rem;
}


.registerContainer {
  
}